details summary::-webkit-details-marker {
    display: none;
}

body {
    color: black;
    background: #28B463;
}

#container {
    margin: 10px;
    padding: 20px;
    border: 1px solid #28B463;
    background: white;
    /*
        background: -webkit-linear-gradient(left top, #A9DFBF, #ccccff);
        background: -o-linear-gradient(bottom right, #A9DFBF, #ccccff);
        background: -moz-linear-gradient(bottom right, #A9DFBF, #ccccff);
        background: linear-gradient(to bottom right, #A9DFBF, #28B463);
        */
}

details summary {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #28B463;
}

a:active {
    color: black;
}

table {
    width: 100%;
}

#t01 {
    width: 100%;
    border: 1px solid blue;
    border-collapse: collapse;
}

#t01 td,
#t01 th {
    border: 1px solid #145A32;
}

table#t01 tr:nth-child(odd) {
    background-color: #D5F5E3;
}

table#t01 tr:nth-child(even) {
    background-color: #82E0AA;
}

table#t01 th {
    background-color: #D5F5E3;
}

h2 {
    background: #28B463;
    padding-left: 15px;
    color: white;
    //text-align: center;
}
